#quote {
  color: #000000;
  padding-top: 140px;
  padding-bottom: 60px;
}

#quote h2 {
  font-size: 32px;
  color: #382c32;
}

.form-item {
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.form-item:focus {
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #887397;
  border-radius: 4px;
  outline: none !important;
}

.button-form {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #FF0077;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

option {
  font-size: 14px;
  color: #382c32;
  font-weight: 400;
}

label {
  font-weight: bolder;
  font-size: 14px;
  color: #a09e9e;
  font-weight: 600;
}

.contact-txt {
  font-size: 16px;
  color: #FF0077;
  font-weight: 500;
  line-height: 1.5;
}

.contact-txt1 {
  font-size: 16px;
  color: #382c32;
  font-weight: 500;
  line-height: 1.5;
}

.contact-txt a {
  text-decoration: none;
  font-size: 16px;
  color: #FF0077;
  font-weight: 600;
  line-height: 1.5;
}

address {
  font-style: normal;
  color: #FF0077;
  font-size: 16px;
  font-weight: 600;
}

.contact-title {
  font-size: 16px;
  color: #a09e9e;
  font-weight: 600;
  line-height: 1;
}

.contact-row {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.contact-col1 {
  width: 60%;
}

.contact-col {
  width: 40%;
  padding-left: 40px;
}

