
 body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container {
  width: 1100px; 
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-color: #FF0077;
  padding-top: 5em;
  padding-bottom: 40px;
}

.logo {
  display: block;
  width: 200px;
}

footer h3, footer a, footer p {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

footer address {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
}

.phone, .email, footer h3 {
  font-weight: 500;
}

.footer-col {
  width: 31%;
  padding: 1%;
  float: left;
  padding-bottom: 3em;
}

.footer-time {
  text-align: center;
}

.footer-social {
  text-align: right;
}

.clearfix {
  clear: both;
}

.p-copy {
  text-align: center;
  font-size: 14px;
}

.fa-brands {
  font-size: 28px;
  color: #ffffff;
  padding-left: 20px;
}

.fa-brands:hover {
  transform: scale(1.2, 1.2) rotate(20deg);
  transition: transform 1s ;
}

hr {
	border-width: 0; 
	height: 1px;
	border-top-width: 1px;
  border-color: hsla(332, 100%, 92%, 0.7);
	}


  @media (max-width: 480px) {

    .container {
      width: 100%; 
      max-width: 100%;
      margin-left: 5%;
      margin-right: 5%;
  }

    footer h3, footer a, footer p {
      color: #ffffff;
      font-style: normal;
      text-decoration: none;
      font-size: 14px;
    }
    
    footer address {
      color: #ffffff;
      font-style: normal;
      text-decoration: none;
      font-weight: 300;
      font-size: 14px;
    }

    .logo {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
    }

    .div-logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer-col {
      width: 100%;
      padding: 1%;
      float: none;
      padding-bottom: 2%;
    }

    .footer-contact {
      text-align: center;
    }

    .footer-time {
      display: none;
    }

    .footer-social {
      text-align: center;
    }

    .footer-social h3, .footer-contact h3 {
      display: none;
    }

    .fa-brands {
      font-size: 22px;
      color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -20px;
    }
    
    .fa-brands:hover {
      transform: scale(1.2, 1.2) rotate(20deg);
      transition: transform 1s ;
    }

    .clearfix {
      clear: both;
    }

    hr {
      border-width: 0; 
      width: 80%;
      height: 1px;
      border-top-width: 1px;
      border-color: hsla(332, 100%, 92%, 0.7);
      }

    .p-copy {
      display: flex;
      align-content: center;
      width: 80%;
    }


  }
