
      body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }

      .row-service {
        display: flex;
        align-content: center;
      }

      #service-bath {
        width: 100%; 
        max-width: 100%;
        margin-top: 80px;
        height: 380px;
      }

      #service-medical {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      #service-drugstore {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      #service-delivery {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      #service-pickup {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      #service-daycare {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      #service-hotel {
        width: 100%; 
        max-width: 100%;
        height: 380px;
      }

      .service-img {
        width: 40%;
        height: 400px;
        object-fit: cover;
      }

      .service-img2 {
        width: 85%;
        height: 400px;
        object-fit: cover;
      }

      .service-img3 {
        width: 83%;
        height: 400px;
        object-fit: cover;
      }

      .bath {
        padding-left: 40px;
        padding-right: 130px;
        padding-top: 30px;
        margin-bottom: 60px;
        width: 100%;
      }

      .bath h2 {
        color: #FF0077;
        font-weight: 600;
      }

      .p1 {
        font-weight: 400;
        font-size: 18px;
        color: #000000;
      }

      .p2 {
        font-size: 16px;
        font-weight: 400;
        color: hsla(0, 0%, 52%,0.8);
        line-height: 1.5;
      }

      .medical {
        text-align: right;
        padding-right: 40px;
        padding-left: 140px;
        padding-top: 40px;
        width: 100%;
        background-color: #FF0077;
      }

      .drugstore {
        padding-left: 40px;
        padding-right: 120px;
        padding-top: 50px;
        width: 100%;
        background-color: #0077ff;
      }

      .delivery {
        text-align: right;
        padding-right: 40px;
        padding-left: 140px;
        padding-top: 80px;
        width: 100%;
        background-color: #FF320D;
      }

      .pickup {
        padding-left: 40px;
        padding-right: 120px;
        padding-top: 80px;
        width: 100%;
        background-color: #C10DFF;
      }

      .daycare {
        text-align: right;
        padding-right: 40px;
        padding-left: 140px;
        padding-top: 70px;
        width: 100%;
        background-color: #6cf515;
      }

      .hotel {
        padding-left: 40px;
        padding-right: 120px;
        padding-top: 80px;
        width: 100%;
        background-color: #382c32;
      }

      h2 {
      color: #ffffff;
      font-weight: 600;
      }

      .p1b {
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
      }

      .p2b {
        font-size: 16px;
        font-weight: 300;
        color: hsla(0, 0%, 100%, 0.8);
        line-height: 1.5;
      }

      .p2b2 {
        font-size: 16px;
        font-weight: 300;
        color: hsl(0, 0%, 100%);
        line-height: 1.5;
      }

      .clearfix {
        clear: both;
      }



      @media (max-width:480px) {
        
        .row-service {
          display: inline;
          height: fit-content;
        } 

        #service-bath {
          width: 100%; 
          max-width: 100%;
          margin-top: 80px;
          height: fit-content;
        }
  
        #service-medical {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }
  
        #service-drugstore {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }
  
        #service-delivery {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }
  
        #service-pickup {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }
  
        #service-daycare {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }
  
        #service-hotel {
          width: 100%; 
          max-width: 100%;
          height: fit-content;
        }

        .service-img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
  
        .service-img2 {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
  
        .service-img3 {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .bath {
          display: inline-block;
          height: 410px;
          text-align: center;
          width: 100%;
          padding: 0;
          font-size: 14px;
          margin-bottom: 0;
        }

        .medical {
          display: inline-block;
          height: 400px;
          text-align: center;
          width: 100%;
          padding: 0;
          background-color: #FF0077;
        }
  
        .drugstore {
          display: inline-block;
          height: 400px;
          text-align: center;
          width: 100%;
          padding: 0;
          background-color: #0077ff;
        }
  
        .delivery {
          display: inline-block;
          height: 400px;
          text-align: center;
          padding: 0;
          width: 100%;
          background-color: #FF320D;
        }
  
        .pickup {
          display: inline-block;
          height: 400px;
          text-align: center;
          padding: 0;
          width: 100%;
          background-color: #C10DFF;
        }
  
        .daycare {
          display: inline-block;
          height: 400px;
          text-align: center;
          padding: 0;
          width: 100%;
          background-color: #6cf515;
        }
  
        .hotel {
          display: inline-block;
          height: 400px;
          text-align: center;
          padding: 0;
          width: 100%;
          background-color: #382c32;
        }
  
        .p1 {
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          padding-left: 20px;
          padding-right: 20px;
        }
  
        .p2 {
          font-size: 14px;
          font-weight: 400;
          color: hsla(0, 0%, 52%,0.8);
          line-height: 1.5;
          padding-left: 20px;
          padding-right: 20px;
        }

        .p1b {
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
          padding-left: 20px;
          padding-right: 20px;
        }
  
        .p2b {
          font-size: 14px;
          font-weight: 300;
          color: hsla(0, 0%, 100%, 0.8);
          line-height: 1.5;
          padding-left: 20px;
          padding-right: 20px;
        }
  
        .p2b2 {
          font-size: 14px;
          font-weight: 300;
          color: hsl(0, 0%, 100%);
          line-height: 1.5;
          padding-left: 20px;
          padding-right: 20px;
        }

      }
