
      body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }

      header {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 100px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        height: 85px;
        box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
        z-index: 1;
      }
      
      .menu {
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        align-content: center;
        margin-right: 15px;
        margin-left: 15px;
      }

      .menu:hover{
        color: #FF0077;
      }

      .color {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #FF0077;
        font-weight: 600;
        line-height: 85px;
        height: 85px;
        align-content: center;
        padding-right: 15px;
        padding-left: 15px;
      }

      .brand-logo {
        color: #FF0077;
        text-decoration: none;
        margin-right: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
        margin-left: 40px;
      }

      .logo1 {
        display: block;
        width: 200px;
        margin-bottom: 40px;
      }

      #about-home {
        background-color: #0077ff;
        padding-top: 70px;
        padding-bottom: 70px;
      }

      #about-home p {
        color: #ffffff;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
      }

      #products h2 {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #382c32;
        padding: 40px;
      }

      .button-product {
        margin-bottom: 80px;
        text-align: center;
      }

      .button1 {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FF0077;
        border-radius: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
      }

      #services {
        text-align: center;
        font-size: 16px;
        color: #858585;
        padding-top: 40px;
      }

      .banner {
        width: 100%;
        margin-top: 70px;
        height: 600px;
        object-fit: cover;
      }

      #services h2 {
        color: #382c32;
        font-weight: 700;
        font-size: 32px;
      }

      .service-name {
        text-align: center;
        font-weight: 700;
        color: #FF0077;
        font-size: 18px;
      }

      .row {
        padding: 20px;
        display: flex;
        align-items: stretch;
      }

      .column {
        width: 25%;
        display: inline-block;
        padding: 15px;
        box-sizing: border-box;
      }

      i {
        font-size: 60px;
        color: #FF0077;
        margin-bottom: 20px;
      }

      i:hover {
        transform: scale(1.2, 1.2) rotate(20deg);
        transition: transform 1s ;
      }

      .p {
        color: #FF0077;
        font-size: 16px;
        font-weight: 700;
      }

      .product-txt {
        display: block;
        align-items: center;
        height: 5em;
      }

      .row-product {
        padding-bottom: 50px;
        display: flex;
        align-content: stretch;
      }

      .column-product {
        width: 16%;
        display: inline-block;
        padding: 6px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #382c32;
        height: 300px;
      }

      .column-product:hover {
        border-style: solid;
        border-color: #cecece;
        border-radius: 10px;
        border-width: 1px;
        color: #000000;
        opacity: 0.8;
      }

      .product-image {
        width: 100%;
      }

      .h3-product {
        text-align: left;
        padding-top: 150px;
        font-size: 32px;
        color: #382c32;
      }

      .clearfix {
        clear: both;
      }

      .container {
        width: 1100px; 
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        }

      #about-page {
        padding-bottom: 30px;
        display: flex;
        align-content: stretch;
      }

      .about-col {
        width: 40%;
        display: inline-block;
        float: left;
        padding-top: 160px;
        padding-bottom: 40px;
      }

      .about-col2 {
        width: 60%;
        display: inline-block;
        float: left;
        padding-top: 140px;
        color: #382c32;
      }

      .about-img {
        display: flex;
        width: 400px;
        margin-bottom: 40px;
      }

      .about-txt p {
        font-weight: 400;
        font-size: 16px;
      }

      .about-txt h2 {
        font-size: 32px;
        font-weight: 700;
      }

      .button-about {
        display: inline-block;
        margin-top: 40px;
      }

      .button2 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FF0077;
        border-radius: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
      }

      @media (max-width: 480px) {

        header {
          display: flex;
          justify-content: normal;
          align-items: center;
          width: 100%;
          padding: 0 100px;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          background-color: #ffffff;
          height: 85px;
          box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
          z-index: 1;
        }

        header nav {
          display: none;
        }
        
        .menu {
          text-decoration: none;
          color: #000000;
          font-weight: 600;
          font-size: 12px;
          align-content: center;
          margin-right: 5px;
          margin-left: 5px;
        }
  
        .menu:hover{
          color: #FF0077;
        }
  
        .color {
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
          background-color: #FF0077;
          font-weight: 600;
          line-height: 15px;
          height: 15px;
          align-content: center;
          padding-right: 5px;
          padding-left: 5px;
        }
  
        .brand-logo {
          color: #FF0077;
          text-decoration: none;
          margin-right: 10px;
          margin-top: 10px;
          padding-bottom: 10px;
          margin-left: 10px;
        }

        .banner {
          width: 100%;
          margin-top: 40px;
          height: 400px;
          object-fit: cover;
          object-position: 70% 30%;
        }  

        .container {
            width: 100%; 
            max-width: 100%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .row {
          padding: 5px;
          display: inline;
        }

        .column {
          width: 80%;
          padding: 5px;
          box-sizing: border-box;
        }
  
        i {
          font-size: 40px;
          color: #FF0077;
          margin-bottom: 20px;
        }
  
        i:hover {
          transform: scale(1.2, 1.2) rotate(20deg);
          transition: transform 1s ;
        }

        #services {
          text-align: center;
          font-size: 14px;
          color: #858585;
          padding-top: 20px;
          width: 80%;
        }

        #services h2 {
          color: #382c32;
          font-weight: 700;
          font-size: 16px;
        }

        .service-name {
          text-align: center;
          font-weight: 700;
          color: #FF0077;
          font-size: 16px;
        }

        .logo1 {
          display: block;
          width: 150px;
          margin-bottom: 20px;
        }
  
        #about-home {
          background-color: #0077ff;
          padding-top: 50px;
          padding-bottom: 50px;
          width: 100%;
        }
  
        #about-home p {
          width: 80%;
          color: #ffffff;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          padding-right: 20px;
        }

        #products h2 {
          text-align: center;
          font-weight: 700;
          font-size: 18px;
          color: #382c32;
          padding: 20px;
        }

        .row-product {
          padding-bottom: 20px;
          display: inline-block;
        }
  
        .column-product {
          width: 50%;
          padding: 6px;
          float: left;
          box-sizing: border-box;
          text-align: center;
          height: 300px;
        }
  
        .column-product:hover {
          border-style: solid;
          border-color: #cecece;
          border-radius: 10px;
          border-width: 1px;
          color: #000000;
          opacity: 0.8;
        }
  
        .p {
          color: #FF0077;
          font-size: 14px;
          font-weight: 700;
        }
  
        .product-txt {
          display: block;
          font-size: 14px;
          height: 4em;
        }

        .product-image {
          width: 60%;
        }
  
        .button-product {
          margin-bottom: 50px;
          text-align: center;
        }
  
        .button1 {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: #FF0077;
          border-radius: 10px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          text-decoration: none;
        }

        #about-page {
          padding-bottom: 30px;
          display: flex;
          align-content: center;
        }
  
        .about-col {
          width: 100%;
          display: flex;
          padding-top: 40px;
          padding-bottom: 0;
        }
  
        .about-col2 {
          width: 100%;
          display: flex;
          padding-top: 0;
          margin-top: -20px;
          color: #382c32;
        }
  
        .about-img {
          display: flex;
          width: 60%;
          height: 200px;
          object-fit: cover;
          margin-bottom: 40px;
        }
  
        .about-txt {
          padding-bottom: 20px;
        }
        .about-txt p {
          width: 60%;
          font-weight: 400;
          font-size: 14px;
        }
  
        .about-txt h2 {
          width: 100%;
          font-size: 28px;
          font-weight: 700;
        }
  
        .button-about {
          display: block;
          margin-top: 40px;
          margin-bottom: 40px;
        }

        .button2 {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: #FF0077;
          border-radius: 10px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          text-decoration: none;
        }



      }



      

    


